body{
    
    background-color: #f1f1f1 !important;
}


.knapp{
    color: #fff; 
    background-color:#ff9d00;
    margin-right: 1em;
    
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ff9d00;
    color:#fff;
}


.navbar #nav > .active > a {
    color: #ff9d00 !important;
}



ul.nav a:hover { background-color: #ff9d00 !important;
color:#fff;
}





.table-editable {
  position: relative;
  }

  .glyphicon {
    font-size: 20px;
  }


.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }
}


.table-save{
    color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;  
    
}
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}






















